<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <header th:replace = "base :: header"> </header>
</head>
<style>
    #jumbotron{
        max-width: 70%; max-height: 100%;
        margin: 0 auto;
    }
    body{
        background: url('https://res.cloudinary.com/drpyvuhac/image/upload/v1569573792/Montgomery-College_sty4qh.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

</style>


<body>
<nav th:replace = "base :: navlinks"></nav>

<div id = "jumbotron" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Java Web Developer Boot Camp </h1>
        <br/><br/><br/>
        <p class="lead">
            The Boot Camps will feature real-world projects provided by local employers. To be eligible for this program, you must be either an unemployed worker, and underemployed worker (making less than $42,000/year) or have an employer attest to the fact that this training will increase your value to the organization. In addition to technical training, participants will also receive one-on-one career navigator guidance to assist them with their employment goals. Boot camps are scheduled during daytime hours and typically run Monday to Friday from 9:00a.m. to 5:00p.m.
            <br/><br/><br/>
        <h2> WHAT IS THE PROGRAM?</h2>
            The Java Web Developer Boot Camp is an 8 hour a day (9 am - 5 pm, M-F) 8-week, immersive software engineering program funded by the Department of Labor. This course aims to increase the number of skilled software developers in this country. We do this by accepting qualified candidates who cannot afford the cost of a coding boot camp. If accepted into the program all fees will be covered by the program.

            <br/><br/><br/>
            <h2> What will you Learn?</h2>

            The Java Web Development Bootcamp takes you from your first java program to developing a web application. This course will give you a fast start on your career so you can take it to the next level. The course will teach you by forcing you to write over 130 java applications, including 5 major web applications. Programming challenges will keep you on your toes.

            You'll learn to create web pages. You'll use frameworks and stored procedures. You'll connect to a database using the Java Persistence API(JPA) and Hibernate, and most importantly, all assignments are submitted through git, so you will learn to develop using best practices in class, to make it easy to contribute value when you are on the job.
        </p>
        <br/><br/>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
            <a class="btn btn-primary btn-lg" href="https://www.montgomerycollege.edu/workforce-development-continuing-education/information-technology/americas-promise-program/java-web-developer-boot-camp.html" role="button">Source</a>
        </p>
        <br/><br/>
    </div>
</div>


<br/><br/><br/><br/><br/>
<div th:replace = "base :: footer"></div>
<div th:replace = "base :: scripts"></div>

</body>
</html>