<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:replace="base :: header"></header>
</head>
<style>
    #jumbotron {
        max-width: 70%;
        max-height: 100%;
        margin: 0 auto;
    }

    body {
        background: url('https://res.cloudinary.com/drpyvuhac/image/upload/v1569570456/exercise-for-mental-health_jvce3p.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

</style>


<body>
<nav th:replace="base :: navlinks"></nav>

<div id="jumbotron" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Exercise: 7 benefits of regular physical activity</h1>
        <p class="lead">
        <br/> <br/> <br/>
        Want to feel better, have more energy and even add years to your life? Just exercise.

        The health benefits of regular exercise and physical activity are hard to ignore. Everyone benefits from exercise, regardless of age, sex or physical ability.

        Need more convincing to get moving? Check out these seven ways exercise can lead to a happier, healthier you.
        <br/> <br/> <br/>
        <h3>1. Exercise controls weight</h3>
        Exercise can help prevent excess weight gain or help maintain weight loss. When you engage in physical activity, you burn calories. The more intense the activity, the more calories you burn.

        Regular trips to the gym are great, but don't worry if you can't find a large chunk of time to exercise every day. Any amount of activity is better than none at all. To reap the benefits of exercise, just get more active throughout your day — take the stairs instead of the elevator or rev up your household chores. Consistency is key.



        <br/> <br/> <br/>
        <h3>2. Exercise combats health conditions and diseases</h3>
            Worried about heart disease? Hoping to prevent high blood pressure? No matter what your current weight is, being active boosts high-density lipoprotein (HDL) cholesterol, the "good" cholesterol, and it decreases unhealthy triglycerides. This one-two punch keeps your blood flowing smoothly, which decreases your risk of cardiovascular diseases.

            Regular exercise helps prevent or manage many health problems and concerns, including:

            Stroke
            Metabolic syndrome
            High blood pressure
            Type 2 diabetes
            Depression
            Anxiety
            Many types of cancer
            Arthritis
            Falls
            It can also help improve cognitive function and helps lower the risk of death from all causes.


        <br/> <br/> <br/>
        <h3>3. Exercise improves mood</h3>

            Need an emotional lift? Or need to blow off some steam after a stressful day? A gym session or brisk walk can help. Physical activity stimulates various brain chemicals that may leave you feeling happier, more relaxed and less anxious.

            You may also feel better about your appearance and yourself when you exercise regularly, which can boost your confidence and improve your self-esteem.
            <br/> <br/> <br/>
        <h3>4. Exercise boosts energy</h3>

            Winded by grocery shopping or household chores? Regular physical activity can improve your muscle strength and boost your endurance.

            Exercise delivers oxygen and nutrients to your tissues and helps your cardiovascular system work more efficiently. And when your heart and lung health improve, you have more energy to tackle daily chores.
            <br/> <br/> <br/>
            <h3>5. Exercise promotes better sleep</h3>

            Struggling to snooze? Regular physical activity can help you fall asleep faster, get better sleep and deepen your sleep. Just don't exercise too close to bedtime, or you may be too energized to go to sleep.
            <br/> <br/> <br/>
            <h3> 6. Exercise puts the spark back into your sex life</h3>

            Do you feel too tired or too out of shape to enjoy physical intimacy? Regular physical activity can improve energy levels and increase your confidence about your physical appearance, which may boost your sex life.

            But there's even more to it than that. Regular physical activity may enhance arousal for women. And men who exercise regularly are less likely to have problems with erectile dysfunction than are men who don't exercise.
            <br/> <br/> <br/>
            <h3>7. Exercise can be fun … and social!</h3>

            Exercise and physical activity can be enjoyable. They give you a chance to unwind, enjoy the outdoors or simply engage in activities that make you happy. Physical activity can also help you connect with family or friends in a fun social setting.
        </p>

        <br/><br/>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
            <a class="btn btn-primary btn-lg" href="https://www.mayoclinic.org/healthy-lifestyle/fitness/in-depth/exercise/art-20048389" role="button">Source</a>
        </p>
        <br/><br/>
    </div>
</div>


<br/><br/><br/><br/><br/>
<div th:replace="base :: footer"></div>
<div th:replace="base :: scripts"></div>

</body>
</html>