<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <header th:replace = "base :: header"></header>
</head>
<style>

    body {
        background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .content{
        max-width: 50%; max-height: 50%;
        margin: 0 auto;

    }
    .jumbotron{
        background-color: rgba(200, 100, 0, 0.3);
    }
    .date{
        color: antiquewhite;
    }

</style>
<body>
<nav th:replace = "base :: navlinks"></nav>
<h1> Welcome to my blog</h1>

<div class = "content">
    <div class="jumbotron">
        <h2 class="display-4">Work life Balance</h2>
        <br/><br/>
        <p class = "date">By Skye Schooley, StaffJune | June 19, 2019 </p>
        <p class="lead"><h3>8 Ways to Improve Your Work-Life Balance Today</h3></p>
        <hr class="my-4">
        <p>
            When you hear "work-life balance," you probably imagine having an extremely
            productive day at work and leaving early to spend the other half of the day with friends and family.
            While this may seem ideal, it is not always possible.

        </p>
        <p class="lead">
            <a class="btn btn-outline-danger" href="/wlb_tips" role="button">Learn more...</a>
        </p>
        <b></b>
        <p>by Matt Mayberry | February 13, 2015</p>
        <p class="lead"><h3>Time Management Is Really Life Management </h3></p>
        <hr class="my-4">
        <p>
            Time is one of life’s most valuable possessions, as it is something you can never get back.
            Subsequently, one of the most essential life skills to master is time management.
            After all, time management is really life management. Learning how to make every day count for something is the objective.

        </p>
        <p class="lead">
            <a class="btn btn-outline-danger" href="/wlb_time" role="button">Learn more...</a>
        </p>
    </div>
    <br>
<!--    -------------------------------------Using Git----------------------------------------------------->
    <div class="jumbotron">
        <h2 class="display-4">Using GitHub</h2>
        <p>BY MEGHAN NELSON | OCT 1, 2015 / </p>
        <p class="lead"><h3>An Intro to Git and GitHub for Beginners (Tutorial)</h3></p>
        <hr class="my-4">
        <p>
            In August, we hosted a Women Who Code meetup at HubSpot and led a workshop for beginners on using git and GitHub.
            I first walked through a slide presentation on the basics and background of git and then we broke out into groups to run through a tutorial I created to simulate working on a large, collaborative project.
            We got feedback after the event that it was a helpful, hands-on introduction.
        </p>
        <p class="lead">
            <a class="btn btn-outline-danger" href="/git_intro" role="button">Learn more..</a>
        </p>
        <b></b>
        <p>BY LAURENCE BRADFORD | May 30, 2019</p>
        <p class="lead"><h3>What Is GitHub, and Why Should I Use It?</h3></p>
        <hr class="my-4">
        <p>
            GitHub is an open-source repository hosting service, sort of like a cloud for code.
            It hosts your source code projects in a variety of different programming languages and keeps track of the various changes made to every iteration.
            The service is able to do this by using git, a revision control system that runs in the command line interface.

        </p>
        <p class="lead">
            <a class="btn btn-outline-danger" href="/git_why" role="button">Learn more...</a>
        </p>
    </div>
    <!--    -------------------------------------Object Oriented Programing ----------------------------------------------------->
    <div class="jumbotron">
        <h2 class="display-4">Object Oriented Program</h2>
        <p>BY CHAITANYA SINGH  || Jan 19, 2019</p>
        <p class="lead"><h3>Introduction to Java programming</h3></p>
        <hr class="my-4">
        <p>
            JAVA was developed by Sun Microsystems Inc in 1991, later acquired by Oracle Corporation.
            It was developed by James Gosling and Patrick Naughton. It is a simple programming language.
            Writing, compiling and debugging a program is easy in java.  It helps to create modular programs and reusable code.
        </p>
        <p class="lead">
            <a class="btn btn-outline-danger" href="obl_java" role="button">Learn more...</a>
        </p>
        <b></b>
        <p> Improved By : shivamsaraswat || Mar 19, 2019.</p>
        <p class="lead"><h3>Python Language Introduction</h3></p>
        <hr class="my-4">
        <p>
            Python is a widely used general-purpose, high level programming language.
            It was initially designed by Guido van Rossum in 1991 and developed by Python Software Foundation.

        </p>
        <p class="lead">
            <a class="btn btn-outline-danger" href="/obl_python" role="button">Learn more...</a>
        </p>
    </div>
    <br>
    <!--    -------------------------------------Model View Controller ----------------------------------------------------->
    <div class="jumbotron">
        <h2 class="display-4">Model View Controller</h2>
        <p>by codding horror | May  05, 2008</p>
        <p class="lead"><h3>Understanding Model-View-Controller </h3></p>
        <hr class="my-4">
        <p>
            Like everything else in software engineering, it seems, the concept of Model-View-Controller was originally invented by Smalltalk programmers.
            More specifically, it was invented by one Smalltalk programmer, Trygve Reenskaug.
            Trygve maintains a page that explains the history of MVC in his own words. He arrives at these definitions in a paper he published on December 10th, 1979:

        </p>
        <p class="lead">
            <a class="btn btn-outline-danger" href="/mvc_under" role="button">Learn more...</a>
        </p>
        <b></b>
        <p>by Zoltan Raffai   || Jul 30, 2018  </p>
        <p class="lead"><h3>Spring Boot: The Most Notable Features You Should Know </h3></p>
        <hr class="my-4">
        <p>
            All in all, Spring Boot is a project built on the top of the Spring framework.
            It provides a simpler and faster way to set up, configure, and run both simple and web-based applications.
        </p>
        <p class="lead">
            <a class="btn btn-outline-danger" href="/mvc_springboot" role="button">Learn more...</a>
        </p>
    </div>
    <!--    -------------------------------------Exercise ----------------------------------------------------->
    <div class="jumbotron">
        <h2 class="display-4">Exercise for Better Health</h2>
        <p>By Mayo Clinic Staff | May 11, 2019</p>
        <p class="lead"><h3>Exercise: 7 benefits of regular physical activity</h3></p>
        <hr class="my-4">
        <p>
            Want to feel better, have more energy and even add years to your life? Just exercise.
            The health benefits of regular exercise and physical activity are hard to ignore.
            Everyone benefits from exercise, regardless of age, sex or physical ability.

        </p>
        <p class="lead">
            <a class="btn btn-outline-danger" href="ex_physical" role="button">Learn more...</a>
        </p>
        <b></b>
        <p>by Elizabeth Michaelson Monaghan | Aug 7, 2019</p>
        <p class="lead"><h3>The Psychological Benefits of Exercise 2</h3></p>
        <hr class="my-4">
        <p>
            Stress is a physical and mental response to a threat, demand, or experience.
            It can contribute to anxiety and depression, two of the most common mental health conditions. Anxiety disorders affect 40 million US adults annually2 (ADAA), and a 2016 study estimated that 16.2 million people in the US experienced a major depressive episode in the last year3 (NIMH).
            This does not include the estimated 3-6% of the U. population who have dealt with less severe depression.4 (Sansone)
        </p>
        <p class="lead">
            <a class="btn btn-outline-danger" href="/ex_mental" role="button">Learn more...</a>
        </p>

    </div>
</div>

<div th:replace = "base :: footer"></div>
<div th:replace = "base :: scripts"></div>
</body>
</html>