<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:replace = "base :: header" > </header>
    <style>
        body {
            background: url('https://res.cloudinary.com/drpyvuhac/image/upload/v1569530630/fall-1072821_1920_0_oryogc.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
        .card{
            max-height: 50%; max-width: 50%;
            margin: 0 auto;
            background-color: aliceblue;
        }

    </style>
</head>


<body>
<nav th:replace = "base :: navlinks"></nav>

<div class="card" >
    <img class="card-img-top" src="https://res.cloudinary.com/drpyvuhac/image/upload/v1566504931/snkeqfoyi6qgdxxxkaxj.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Bio</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>

    <div class="card-body">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Me</a>
        <!--facebook-->
        <a class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
        <!-- twitter-->
        <a class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
        <!-- Google +-->
        <a class="btn-floating btn-lg btn-gplus" type="button" role="button"><i class="fab fa-google-plus-g"></i></a>
        <!-- Linkedin-->
            <a class="btn-floating btn-lg btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
        <!--Instergram-->
            <a class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>
        <!--  bootstrap      -->

    </div>
</div>

<!--<div class="card" style="width: 36m;">-->
<!--    <img src="https://res.cloudinary.com/drpyvuhac/image/upload/v1569530630/fall-1072821_1920_0_oryogc.jpg" class="card-img-top" alt="fall">-->
<!--    <div class="card-body">-->
<!--        <ul class="nav justify-content-center">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Me</a>-->
<!--            &lt;!&ndash;Social Media buttons &ndash;&gt;-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                &lt;!&ndash;facebook&ndash;&gt;-->
<!--                <a class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>-->
<!--            </li>-->
<!--            -->
<!--            <li class="nav-item">-->
<!--                &lt;!&ndash; twitter&ndash;&gt;-->
<!--                <a class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>-->
<!--            </li>-->
<!--            -->
<!--            <li class="nav-item">-->
<!--                &lt;!&ndash; Google +&ndash;&gt;-->
<!--                <a class="btn-floating btn-lg btn-gplus" type="button" role="button"><i class="fab fa-google-plus-g"></i></a>-->
<!--            </li>-->
<!--            &lt;!&ndash; Linkedin&ndash;&gt;-->
<!--            <li class="nav-item">-->
<!--                <a class="btn-floating btn-lg btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>-->
<!--            </li>-->
<!--            &lt;!&ndash;Instergram&ndash;&gt;-->
<!--            <li class="nav-item">-->
<!--                <a class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>-->
<!--            </li>-->

<!--        </ul>-->
<!--        <p class="card-text">-->
<!--           <h5>Bio</h5>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam aut culpa, cupiditate delectus est illo, natus necessitatibus nesciunt non numquam officia perferendis perspiciatis qui temporibus ullam ut. Adipisci, harum?-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->

<div th:replace = "base :: scripts"></div>

</body>
</html>