<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:replace="base :: header"></header>
</head>
<style>
    #jumbotron {
        max-width: 70%;
        max-height: 100%;
        margin: 0 auto;
    }

    body {
        background: url('https://res.cloudinary.com/drpyvuhac/image/upload/v1569566943/timeobsessed_apaohn.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

</style>


<body>
<nav th:replace="base :: navlinks"></nav>

<div id="jumbotron" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Time Management Is Really Life Management</h1>
        <br/><br/><br>
        <p class="lead">
            Time is one of life’s most valuable possessions, as it is something you can never get back. Subsequently, one of the most essential life skills to master is time management. After all, time management is really life management. Learning how to make every day count for something is the objective. But it takes ridding your life of procrastination and a great deal of self-discipline.

            Mastering time management does more than just increase productivity. It can yield important health benefits as well. When time is managed wisely, it minimizes stress and improves the overall quality of your life.
            If you often find yourself run down by your daily workload or overwhelmed by the complexity of projects and tasks in your life, it is likely because you have not fully mastered effective time management. As the day flies by, you realize you’re behind, or you are on schedule only because you haven’t put forth your best effort in hopes of completion.

            Nothing great ever transcends from haste. Cutting corners will eventually catch up to you, and as with anything, quality always beats quantity.
        <br/><br/><br>
        <h3> Lay the foundation for effectively managing your time.</h3>
        Delegating the appropriate amount of time to get adequate sleep, maintain a healthy diet and exercising regularly are all essential elements to improve both focus and concentration. Making the time to create a healthy lifestyle will help improve your efficiency throughout the day, allowing for more time to complete other tasks.
        <br/><br/><br>
        <h3> Identify and evaluate how you are currently spending your time.</h3>
        If you drive to work, how do you pass the time during your commute? If you take a bus or train, how do you spend all those hours a week? How many audiobooks or language tapes could you have completed while in traffic last month? How many books could you read on the train while getting to and from work the next few weeks?

        These are the best times throughout your day to incorporate all those little things that you “wished” you had time for. Over time, these habits become a lifestyle, and you will find yourself well ahead of the pack.
        <br/><br/><br>
        <h3> Say no to nonessential tasks and prioritize the ones of extreme value.</h3>
        Consider your goals and look at your schedule before agreeing to take on more work. If a task is time consuming but not necessarily important to the main goal, pass it off or add it to the bottom of the list.

        <br/><br/><br>
        <h3> Dedicate time blocks and limit distractions.</h3>
        Everyone has a place where they work the most effectively. Some people love to have music in their earbuds, while others need complete silence. Some people can work just as efficiently from their dining table as they can in a library cubicle. Wherever that place is, utilize it. Turn the television off, silence the cell phone, put away the tablet and dedicate complete focus to the task at hand. No responding to texts, no browsing the web.
        When you operate your life in a healthy, organized fashion, and are able to execute daily tasks efficiently, stress is reduced, productivity increases and overall satisfaction manifests.

        <br/><br/><br>
        <h3>Never hesitate to take a break if needed.</h3>
        Everyone gets worn out from time to time and piling on more and more tasks leads to stress that will simply derail you from the mission at hand. Take a walk, go to the gym, get some fresh air or take that sick day you’ve been holding out on. Sometimes all we need is a moment of clarity and solitude to clear our overworked minds and recharge our bodies to give us that next big push.

        After all, time management is really life management.

        </p>
        <br/><br/>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
            <a class="btn btn-primary btn-lg" href="https://www.entrepreneur.com/article/242855" role="button">Source</a>
        </p>
        <br/><br/>
    </div>
</div>


<br/><br/><br/><br/><br/>
<div th:replace="base :: footer"></div>
<div th:replace="base :: scripts"></div>

</body>
</html>